<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotter</title>
     <!-- icon logo  -->
     <link rel="icon" href="../src/Assets/cilt-logo.png"> 
     <link rel="stylesheet" href="../Style/Footer.css">
         <!-- get icon  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" 
    />  
</head>
<body>
 <!-- Footer Structure -->
 <footer>
    <div class="footer-row">
        <section class="footer-col logo-footer">
            <div>
                <img src="../Assets/cilt-logo-only.png" alt="Hospital Logo">
            </div>
            <h3>Next Generation</h3>
            <p>Jl. Kayu Jati Raya 11A, Rawamangun, Jakarta Timur, 13220</p>
        </section>

        <section class="footer-col">
            <h4>Organization</h4>
            <ul>
                <li> <a href="#">About</a></li>
                <li> <a href="#">Activities</a></li>
                <li> <a href="#">News</a></li>
                <li> <a href="#">Events</a></li>
                <li> <a href="#">Membership</a></li>
            </ul>
        </section>

        <section class="footer-col">
            <h4>Contact Us</h4>
            <ul>
                <li> <a href="#">admin@nextgeneration.id</a></li>
                <li> <a href="#">+62 214 891 137</a></li>
            </ul>
        </section>

        <section class="footer-col respon-news">
            <h4>Newsletter</h4>
            <p>
                Subscribe to our newsletter for news, updates, helpful tips and exclusive offers.
            </p>
            <form action="#">
                <input type="text" placeholder="Your email" required>
                <button id="subscribe" type="submit">Subscribe</button>
            </form>
            <div class="sosial-media">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
                <a href="#"><i class="fa-solid fa-envelope"></i></a>
            </div>
        </section>
    </div>
    <div class="copy-right">
        <p>Copyright &copy; 2024 Next Generation. All rights reserved.</p>
        <div class="privacy">
            <a href="#">Privacy Policy</a>
            <a href="#">Help & Support</a>
        </div>
    </div>
</footer>
</body>
</html>