<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="../Style/Navbar.css">
    <!-- get icon  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" 
    />
</head>
<body>
    <header>
        <nav>
            <div class="nav-content">
                <div class="logo">
                    <img src="../Assets/cilt-logo.png" alt="logo">
                </div>
                <div class="menu-open">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="close-menu">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <ul id="menu-list">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Activities</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Event</a></li>
                    <li><a href="#">Membership</a></li>
                    <li><a class="disable-login">Login</a></li>
                </ul>
                <div class="auth">
                    <a href="#">Login</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="content">
        <p>
            Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan  Jika dilihat pada 
tabel 4.1 waktu rata rata yang dihabiskan Github 
Actions dalam 5 kali deployment adalah 131.2 
detik atau 2 menit 11 detik. Dan untuk rata rata 
waktu yang dihabiskan Jenkins dalam 5 kali 
deployment adalah 362.6 detik atar baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa r baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa r baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa r baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa r baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa r baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa r baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa r baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa r baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa r baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa r baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa r baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa r baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa r baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa r baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa r baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa r baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa u 6 menit 2 
detik. Hal ini menunjukan bahwa waktu rata rata 
untuk 5 kali proses CI/CD cenderung lebih cepat 
Github Actions daripada Jenkins. Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar. Jika dilihat pada 
tabel 4.1 waktu rata rata yang dihabiskan Github 
Actions dalam 5 kali deployment adalah 131.2 
detik atau 2 menit 11 detik. Dan untuk rata rata 
waktu yang dihabiskan Jenkins dalam 5 kali 
deployment adalah 362.6 detik atau 6 menit 2 
detik. Hal ini menunjukan bahwa waktu rata rata 
untuk 5 kali proses CI/CD cenderung lebih cepat 
Github Actions daripada Jenkins.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar. Jika dilihat pada 
tabel 4.1 waktu rata rata yang dihabiskan Github 
Actions dalam 5 kali deployment adalah 131.2 
detik atau 2 menit 11 detik. Dan untuk rata rata 
waktu yang dihabiskan Jenkins dalam 5 kali 
deployment adalah 362.6 detik atau 6 menit 2 
detik. Hal ini menunjukan bahwa waktu rata rata 
untuk 5 kali proses CI/CD cenderung lebih cepat 
Github Actions daripada Jenkins.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar. Jika dilihat pada 
tabel 4.1 waktu rata rata yang dihabiskan Github 
Actions dalam 5 kali deployment adalah 131.2 
detik atau 2 menit 11 detik. Dan untuk rata rata 
waktu yang dihabiskan Jenkins dalam 5 kali 
deployment adalah 362.6 detik atau 6 menit 2 
detik. Hal ini menunjukan bahwa waktu rata rata 
untuk 5 kali proses CI/CD cenderung lebih cepat 
Github Actions daripada Jenkins.Sebagai suatu panduan, beberapa metrik kualitas 
berikut ini telah penulis pertimbangkan dengan seksama 
untuk menjamin bahwa proyek ini dapat berjalan dengan 
efisiensi dan keandalan yang maksimal:
1. Frekuensi Kegagalan (Failure Rate):
Frekuensi kegagalan mengindikasikan 
seberapa sering aplikasi mengalami kegagalan 
atau failure dalam menjalankan fungsionalitasnya. 
Dengan memonitor dan mengurangi frekuensi 
kegagalan dapat meningkatkan stabilitas dan 
kualitas keseluruhan dari proyek ini. Bisa dilihat 
pada tabel 4.1 tingkat keberhasilan Github 
Actions dan Jenkins dalam melakukan proses 
CI/CD dalam 5 kali deployment adalah 100%. 
Hal ini membuktikan bahwa Github Actions dan 
Jenkins dapat menjalankan proses CI/CD untuk 
di deploy ke Docker dengan baik.
2. Waktu Rilis (Release Time):
Memantau waktu rilis setiap perubahan atau 
fitur baru dapat membantu memastikan bahwa 
proses CI/CD berjalan dengan lancar dan tidak 
mengalami kendala yang berarti. Targetnya 
adalah mempercepat waktu rilis untuk merespons 
perubahan kebutuhan pasar. Jika dilihat pada 
tabel 4.1 waktu rata rata yang dihabiskan Github 
Actions dalam 5 kali deployment adalah 131.2 
detik atau 2 menit 11 detik. Dan untuk rata rata 
waktu yang dihabiskan Jenkins dalam 5 kali 
deployment adalah 362.6 detik atau 6 menit 2 
detik. Hal ini menunjukan bahwa waktu rata rata 
untuk 5 kali proses CI/CD cenderung lebih cepat 
Github Actions daripada Jenkins.
        </p>
    </div>

    <script src="../Script/Navbar.js"></script>

</body>
</html>